#canvas {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -3;
}

.right_nav {
  position: fixed;
  top: 1rem;
  right: 1rem;
  display: flex;
  align-items: center;

  #language {
    position: relative;
    top: 0.2rem;
    height: 1.5rem;
    margin-right: 1rem;
    cursor: pointer;
  }

  #contact_btn {
    font-size: 1.5rem;
    color: $primary-color;
    cursor: pointer;
    transition: color 200ms;
    z-index: 8;
    display: flex;
    align-items: center;
    &:hover {
      color: $secondary-color;
    }

    .btn_text {
      font-family: "Space mono", monospace;
      font-size: 0.8rem;
    }
  }
}

.profile {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin-top: 10vh;

  .profile_img {
    display: flex;
    justify-content: center;
    align-items: center;

    .column {
      position: absolute;
      background: $secondary-color;
      z-index: -1;
      top: 0;
      width: 10rem;
      height: 100vh;
      transform: translateX(-2.5rem);
    }

    .picture {
      width: 15rem;
      height: 15rem;
      object-fit: contain;
      border-radius: 50%;
      margin-top: -1rem;
      box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
      background: white;
      cursor: pointer;

      #light_bulb {
        opacity: 0;
        transition: 0.3s ease-out;
        position: relative;
      }
      #eyes_active {
        opacity: 0;
        animation: blink 3s linear infinite normal forwards;
      }
      #eyes {
        opacity: 0;
        animation: blink_close 3s linear infinite normal forwards;
      }
      #smile {
        opacity: 0;
        transform: translateY(-10px);
        transition: 0.3s ease;
      }

      &:hover {
        #light_bulb {
          opacity: 1;
          transform: translateY(-50px);
        }
        #smile {
          opacity: 1;
          transform: scale(1);
        }
      }
    }
  }

  .profile_txt {
    width: 600px;
    margin-left: 5vw;

    .titles {
      color: white;
      text-shadow: 2px 2px rgba(0, 0, 0, 0.2);

      .row {
        // position: absolute;
        background: $primary-color;
        transform: translateY(-5rem);
        height: 12rem;
        width: 100vw;
        left: 0;
        z-index: -2;
      }
    }

    .cta {
      font-family: "Ubuntu", sans-serif;
      font-weight: bold;
      padding: 10px;
      margin-right: 1rem;
      background: $primary-color;
      border-radius: 5px;
      color: white;
      text-shadow: 0 0 1px rgba(0, 0, 0, 0.4);
      box-shadow: 2px 2px 0 $primary-color;
      cursor: pointer;
      border: 1px solid transparent;

      &.primary {
        background: $secondary-color;
        box-shadow: 2px 2px 0 $secondary-color-darker;
      }

      &:hover {
        border: 1px solid white;
      }
    }

    h2 {
      margin-top: -1rem;
    }

    h3,
    p {
      margin-bottom: 2rem;
    }
  }
}

/* tablet responsive */
@media screen and (min-width: 601px) and (max-width: 950px) {
  .profile_img .picture {
    width: 12rem;
    height: 12rem;
  }

  .profile_img {
    margin-left: 2.5rem;
  }

  .profile_txt p {
    width: 50vw;
  }

  .profile_txt h2 {
    margin-top: -0.5rem;
    margin-bottom: 0.5rem;
  }

  .profile_txt .titles .row {
    height: 9rem;
  }
}

/* phone responsive */
@media screen and (max-width: 600px) {
  #language {
    height: 1.7rem;
  }
  #contact_btn {
    font-size: 2rem;
  }
  #contact_btn .btn_text {
    display: none;
  }

  .profile {
    flex-direction: column;
    align-items: center;
  }

  .profile_img .picture {
    width: 10rem;
    height: 10rem;
    margin-bottom: 1rem;
  }

  .profile .column {
    z-index: -2;
    width: 8rem;
  }

  .profile_txt {
    width: 100vw;
    margin-left: 0;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
  }

  .profile_txt .cta {
    width: max-content;
    margin: 1rem auto;
    border: 1px solid $primary-color-darker;
  }

  .profile_txt .cta.primary {
    border: 1px solid $secondary-color-darker;
  }

  .profile_txt .cta.primary:hover {
    border: 1px solid white;
  }

  .profile_txt h2 {
    margin: 0 0 0.5rem 0;
  }

  .profile_txt h3,
  p {
    margin-bottom: 1rem;
  }

  .profile_txt p {
    display: none;
  }

  .profile_txt .titles .row {
    height: 8.5rem;
  }
}
