.column {
  z-index: -1;
  position: absolute;
  left: 25%;
  width: 25vh;
  height: 100vh;
  background: var(--primary-color);
}

.row {
  position: absolute;
  top: 20vh;
  z-index: -2;
  height: 25vh;
  width: 100vw;
  background: var(--secondary-color);
}

form {
  position: absolute;
  width: 70vw;
  max-width: 500px;
  height: 85vh;
  max-height: 600px;
  border-radius: 20px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  color: var(--dark-color);
}
.form_bkg {
  position: absolute;
  width: 70vw;
  max-width: 500px;
  min-width: 300px;
  height: 90vh;
  max-height: 700px;
  border-radius: 20px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background: rgba(255, 255, 255, 0.568);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
}

form h2 {
  color: var(--dark-color);
  text-align: center;
}

.field {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 80%;
}

form input,
form textarea,
form button {
  width: 100%;
  margin-top: 0.5rem;
  padding: 1rem;
  border: 2px solid rgba(0, 0, 0, 0);
  outline: none;
  border-radius: 5px;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
  transition: 200ms;
  font-family: "Ubuntu", sans-serif;
}

form input:focus,
form textarea:focus {
  border: 2px solid var(--secondary-color);
}

.submit_btn {
  width: 80%;
  color: var(--light-color);
  background: var(--primary-color);
  cursor: pointer;
  font-family: "Ubuntu", sans-serif;
  font-size: 1.1rem;
}
.submit_btn:hover {
  background: var(--primary-color-darker);
}

/* Tablet responsive ------------------------------------------ */
@media screen and (min-width: 550px) and (max-width: 950px) {
  form {
    min-width: 450px;
  }
  .form_bkg {
    min-width: 450px;
  }

  .column {
    left: 10%;
  }
}

/* Phone responsive ------------------------------------------ */
@media screen and (max-width: 550px) {
  .column {
    left: 30%;
    transform: translateX(-50%);
    width: 30vw;
  }

  .row {
    height: 30vw;
  }

  form {
    width: 90vw;
    height: 70vh;
  }
  .form_bkg {
    position: absolute;
    width: 95vw;
    height: 80vh;
  }

  .field {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 95%;
  }
}
